 /* Belajar Border & Border Radius 
    Border Properties (the important ones)

    1. border-width
       controls the thisckness of the border
    2. border-color
       controls the ... color of the border
    3. border-style
       controls the line style - dashed, solid, etc.

 */
 
h1{
   background-color: darkorange;
   width: 200px;
   padding-left: 10px;
}

/* Apply to all four side
   margin: 10 px; 
   
   vertival|horizontal
   margin: 5px 10px;
   
   top | horizontal | bottom
   margin: 1px 2px 2px
   
   top | right | bottom | left
   margin: 5px 1px 0 2px;*/
 div{
    margin-top: 10px;
    height: 200px;
    width: 200px;
    display: inline-block;
 }
 
 #one{
   background-color: brown;
   border-width: 5px;
   border-style: solid;
   box-sizing: border-box;
}

#two{
    background-color: cornflowerblue;
}

#three{
    background-color: darkgreen;
} 

/* Apply to all four side
   padding: 10 px; 
   
   vertival|horizontal
   padding: 5px 10px;
   
   top | horizontal | bottom
   padding: 1px 2px 2px
   
   top | right | bottom | left
   padding: 5px 1px 0 2px;*/
button{
   padding: 10px ;
}