 /* Belajar Border & Border Radius 
    Border Properties (the important ones)

    1. border-width
       controls the thisckness of the border
    2. border-color
       controls the ... color of the border
    3. border-style
       controls the line style - dashed, solid, etc.
 */
 
 div{
    height: 200px;
    width: 200px;
 }
 
 #one{
   background-color: brown;
   border-width: 5px;
   border-style: solid;
   box-sizing: border-box;
}

#two{
    background-color: cornflowerblue;
}

#three{
    background-color: darkgreen;
} 